<div class="container-fluid">

  <div class="alert alert-info" role="alert">
    <h2 class="text-center my-4 center">Enrollment Form</h2> 
  </div>
  <!-- <ul><h1 class="font-family h1-color center">Enrollment Form</h1></ul> -->

  <hr />

  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" novalidate>
  
    <!-- {{ userForm.value | json }} -->

    <!-- {{ userModel | json }} -->


    <div class="form-group">
      <label>Name</label>
      <input type="text" required #name="ngModel" [class.is-inv]="name.invalid && name.touched" 
        class="form-control align" placeholder="Write your name" name="name" 
        [(ngModel)]="userModel.name">

      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" placeholder="Write your email id" required #email="ngModel" 
        email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
        [class.is-inv]="email.invalid && email.touched" class="form-control align" name="email" 
        [(ngModel)]="userModel.email">

        <div *ngIf="email.errors && (email.invalid || email.untouched)">
          <small class="text-danger" *ngIf="email.errors.required && email.touched">Email ID is required!</small>
          <small class="text-danger" *ngIf="email.errors.pattern && email.touched">Please enter a valid email ID</small>
        </div>
    </div>

    <div class="form-group">
      <label>Phone Number</label>
      <input type="tel" #phone="ngModel" required pattern="^\d{10}$" 
        [class.is-inv]="phone.invalid && phone.touched" class="form-control align" name="phone" 
        [(ngModel)]="userModel.phone" placeholder="Write your mobile number">

      <div *ngIf="phone.errors && (phone.invalid || phone.untouched)">
        <small class="text-danger" *ngIf="phone.errors.required && phone.touched">Phone number is required!</small>
        <small class="text-danger" *ngIf="phone.errors.pattern">Phone must be of 10 digts!</small>
      </div>

    </div>

    <div class="mb-3">

      <label>Gender</label>

      <div class="form-check">
        <input type="radio" name="gender" value="Male" class="form-check-input" [(ngModel)]="userModel.gender" ngModel required>
        <label class="form-check-label unbold">Male</label>
      </div>
      <div class="form-check">
        <input type="radio" name="gender" value="Female" class="form-check-input" [(ngModel)]="userModel.gender" ngModel required>
        <label class="form-check-label unbold">Female</label>
      </div>
      <div class="form-check">
        <input type="radio" name="gender" value="Others" class="form-check-input" [(ngModel)]="userModel.gender" ngModel required>
        <label class="form-check-label unbold ">Others</label>
      </div>

      <!-- <small class="text-danger" [class.d-none]="gender.valid || gender.untouched">Please select gender</select></small> -->

    </div>

    <hr />

    <button [disabled]="userForm.form.invalid" type="submit" class="btn btn-success space">Submit Form</button>
    
    <button type="reset" class="btn btn-primary">Reset Form</button>

      <hr />
      <br />

  </form>

  <label class="center" *ngIf="!isFormEmpty"><u><h3>Your Records</h3></u></label>
  <br /> <br /> 
  <div class="col-sm-4" *ngFor="let user of users; let indx = index;">

    <p><em>User {{ indx + 1 }} data:</em></p>
    <p><strong>Name:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Phone:</strong> {{ user.phone }}</p>
    <p><strong>Gender:</strong> {{ user.gender | uppercase }}</p>

    <hr>

  </div>
    

</div>
